/* common shared style */
body {
    font-family: "Open Sans", sans-serif;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 200px;
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    border-radius: 5px;
background: rgb(237, 107, 16);
border: 0;
color: white;
font-size: 20px;
font-weight: 700;
padding: 6px 20px ;

}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    
}
    
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
   
}
nav a {
    text-decoration: none;
    color: #474747;
}

/* header style */
.header{
    background-color: rgb(255, 248, 243);
}
.banner{
    padding: 20px 20px 20px 120px;
    display: flex;
    align-items: center;
}
img{
    width: 400px; ;
}